AI-analysis-Agent.json
{
  "name": "AI-analysis-Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-excel",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c8f23942-ae8b-4615-9780-c201d023e69f",
      "name": "Webhook",
      "webhookId": "1331561e-792a-4e6b-a2a6-7f4ab0d78ec1"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        192,
        16
      ],
      "id": "887478d3-e1ba-4766-aa85-c568655e28f3",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Columns:\n{{ JSON.stringify($json.columns) }}\n\nSample Rows:\n{{ JSON.stringify($json.sample) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a Senior Data Profiling AI.\n\nYou receive:\n1. Column names.\n2. Sample rows from an Excel dataset.\n\nYour task is to profile the dataset.\n\nReturn ONLY valid JSON.\n\nReturn exactly this structure:\n\n{\n  \"dataset_type\": \"\",\n  \"business_domain\": \"\",\n  \"description\": \"\",\n  \"columns\": [\n    {\n      \"name\": \"\",\n      \"data_type\": \"\",\n      \"semantic_type\": \"\",\n      \"description\": \"\",\n      \"nullable\": false\n    }\n  ],\n  \"possible_analyses\": []\n}\n\nRules:\n\n- Detect the dataset type.\nExamples:\nSales\nHR\nFinance\nHealthcare\nEducation\nInventory\nMarketing\nLogistics\nBanking\nGeneral\n\n- Detect the business domain.\n\n- For every column identify:\n    - original name\n    - data type\n    - semantic meaning\n    - short description\n    - nullable (true/false if obvious, otherwise null)\n\nPossible semantic types include:\ndate\ndatetime\nproduct\ncustomer\nemployee\ndepartment\nsalary\nprice\nquantity\ncost\nprofit\nrevenue\ndiscount\ncategory\ncity\ncountry\nregion\ngender\nage\nemail\nphone\nstatus\ninvoice\nid\ntext\npercentage\ncurrency\nunknown\n\nReturn 5-15 possible analyses that could be performed on this dataset.\n\nDo not explain anything.\nReturn JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        624,
        -192
      ],
      "id": "eb371e6b-669a-4f61-bb7b-ab461c202ca8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        608,
        -32
      ],
      "id": "274f2a50-a7f7-4a64-96c4-eea86021f051",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "jM0Q3fSorLL2Z0uR",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst columns = Object.keys(items[0].json);\n\nreturn [{\n  json: {\n    columns,\n    sample: items.slice(0, 5).map(item => item.json)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        -192
      ],
      "id": "dfb58547-f116-42b4-ba9e-ef421384e038",
      "name": "Code (columns + sample)"
    },
    {
      "parameters": {
        "jsCode": "const ai = JSON.parse($json.output);\n\nreturn [\n  {\n    json: ai\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        -176
      ],
      "id": "cd994851-d97e-4990-b409-aafa8eb7c5ec",
      "name": "Code (Parse JSON)"
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Extract from File').all();\nconst schema = $('Code (Parse JSON)').first().json;\n\nreturn [{\n  json: {\n    metadata: schema,\n    data: rows.map(r => r.json)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        48
      ],
      "id": "5d83ae7c-a3c4-4e2c-87b8-9bdb72410133",
      "name": "Code (metadata + data)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are given the following dataset information.\n\n## Dataset Metadata\n{{ JSON.stringify($json.metadata) }}\n\n## Dataset Columns\n{{ JSON.stringify($json.columns) }}\n\n## Dataset Statistics\n\nTotal Rows: {{ $json.totalRows }}\nTotal Columns: {{ $json.totalColumns }}\n\n## Sample Rows\n{{ JSON.stringify($json.sampleRows) }}\n\nYour task is ONLY to decide which business analyses should be generated.\n\nDo NOT analyze the data.\n\nDo NOT calculate insights.\n\nOnly return a JSON array describing the analyses.\n\nReturn ONLY valid JSON.",
        "options": {
          "systemMessage": "You are an expert Business Intelligence analyst.\n\nYou receive:\n\n1. Dataset metadata.\n2. Dataset schema.\n3. Dataset rows.\n\nYour task is to determine ALL meaningful business analyses that can be performed using this dataset.\n\nFor each analysis return:\n\n- id (snake_case)\n- operation\n- title\n- chart_type\n- required_columns\n- description\n\nAllowed operations:\n\nsum\naverage\ncount\nmin\nmax\nsum_product\ngroup_sum\ngroup_average\ngroup_count\ndistribution\ncorrelation\ntrend\nraw_table\n\nAllowed chart types:\n\nkpi\nbar\nline\npie\nscatter\nhistogram\ntable\n\nRules:\n\n- Choose the operation based on the business goal, not the chart.\n- required_columns must contain ONLY the columns required for the operation.\n- Never invent columns.\n- Never duplicate analyses.\n- Return only analyses that can actually be executed using the available columns.\n- Prefer meaningful business analyses over trivial ones.\n- If revenue must be calculated from Price × Quantity, use operation = \"sum_product\".\n- For grouped comparisons use group_sum, group_average or group_count.\n- Histogram should use operation = \"distribution\".\n- Scatter should use operation = \"correlation\".\n- Line chart should use operation = \"trend\".\n- Table should use operation = \"raw_table\".\n\nReturn ONLY valid JSON.\n\nExample:\n\n{\n  \"analyses\":[\n    {\n      \"id\":\"total_revenue\",\n      \"operation\":\"sum_product\",\n      \"title\":\"Total Revenue\",\n      \"chart_type\":\"kpi\",\n      \"required_columns\":[\"Price\",\"Quantity\"],\n      \"description\":\"Calculate total revenue.\"\n    }\n  ]\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1472,
        48
      ],
      "id": "22b3838a-2a19-4309-a521-fd5cddb8580c",
      "name": "Analysis Planner"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1472,
        320
      ],
      "id": "b31f3762-0ca2-4f9e-bf06-7d2f4496d3a1",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "jM0Q3fSorLL2Z0uR",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analysis = JSON.parse($json.output);\n\nreturn [\n  {\n    json: analysis\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        64
      ],
      "id": "354c75bd-f680-4027-82ac-64cea11379b7",
      "name": "Code (Parse JSON)1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "analyses",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1952,
        48
      ],
      "id": "e866fde2-0681-4971-84e6-8a3ba97d6c23",
      "name": "Split Out"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.chart_type}}",
                    "rightValue": "kpi",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "720e5284-538b-4989-8830-01055eda386e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KPI"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6d65636c-929c-4ab1-a604-6c705e85ba60",
                    "leftValue": "={{$json.chart_type}}",
                    "rightValue": "bar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Bar"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "1ec5dd61-c068-4dcb-b1bb-a4ec3ef666b2",
                    "leftValue": "={{$json.chart_type}}",
                    "rightValue": "line",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Line"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "416f49ca-0f45-4388-b90e-d5da9abb8df5",
                    "leftValue": "={{$json.chart_type}}",
                    "rightValue": "pie",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pie"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4e8ea147-0fbb-4df2-8777-5d56dda417ea",
                    "leftValue": "={{$json.chart_type}}",
                    "rightValue": "scatter",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Scatter"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7d945939-6b75-4747-887f-6c78a4f627fb",
                    "leftValue": "={{$json.chart_type}}",
                    "rightValue": "table",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Table"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2303772e-0437-48c6-92d6-9f2516d1ebf5",
                    "leftValue": "={{$json.chart_type}}",
                    "rightValue": "histogram",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Histogram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2160,
        48
      ],
      "id": "e70fa598-17e4-42de-9b86-76b9d7b50a2d",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $json;\nconst rows = $('Extract from File').all();\n\nfunction col(i) {\n    return analysis.required_columns[i];\n}\n\nswitch (analysis.operation) {\n\n    // ============================\n    // SUM OF (COLUMN1 × COLUMN2)\n    // ============================\n    case \"sum_product\": {\n\n        const col1 = col(0);\n        const col2 = col(1);\n\n        let total = 0;\n\n        for (const r of rows) {\n            total +=\n                Number(r.json[col1] || 0) *\n                Number(r.json[col2] || 0);\n        }\n\n        return [{\n            json: {\n                type: \"kpi\",\n                title: analysis.title,\n                value: total\n            }\n        }];\n    }\n\n    // ============================\n    // AVERAGE\n    // ============================\n    case \"average\": {\n\n        const column = col(0);\n\n        const values = rows\n            .map(r => Number(r.json[column]))\n            .filter(v => !isNaN(v));\n\n        const avg =\n            values.reduce((a, b) => a + b, 0) /\n            (values.length || 1);\n\n        return [{\n            json: {\n                type: \"kpi\",\n                title: analysis.title,\n                value: avg\n            }\n        }];\n    }\n\n    // ============================\n    // SUM\n    // ============================\n    case \"sum\": {\n\n        const column = col(0);\n\n        const total = rows.reduce((sum, r) => {\n            return sum + Number(r.json[column] || 0);\n        }, 0);\n\n        return [{\n            json: {\n                type: \"kpi\",\n                title: analysis.title,\n                value: total\n            }\n        }];\n    }\n\n    // ============================\n    // COUNT\n    // ============================\n    case \"count\": {\n\n        return [{\n            json: {\n                type: \"kpi\",\n                title: analysis.title,\n                value: rows.length\n            }\n        }];\n    }\n\n    // ============================\n    // MIN\n    // ============================\n    case \"min\": {\n\n        const column = col(0);\n\n        const values = rows\n            .map(r => Number(r.json[column]))\n            .filter(v => !isNaN(v));\n\n        return [{\n            json: {\n                type: \"kpi\",\n                title: analysis.title,\n                value: Math.min(...values)\n            }\n        }];\n    }\n\n    // ============================\n    // MAX\n    // ============================\n    case \"max\": {\n\n        const column = col(0);\n\n        const values = rows\n            .map(r => Number(r.json[column]))\n            .filter(v => !isNaN(v));\n\n        return [{\n            json: {\n                type: \"kpi\",\n                title: analysis.title,\n                value: Math.max(...values)\n            }\n        }];\n    }\n\n    // ============================\n    // UNKNOWN\n    // ============================\n    default:\n\n        return [{\n            json: {\n                skipped: true,\n                operation: analysis.operation\n            }\n        }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        -416
      ],
      "id": "ad52c4e7-132c-4525-b1aa-6804af03eccc",
      "name": "KPI"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $json;\nconst rows = $('Extract from File').all();\n\nconst category = analysis.required_columns[0];\nconst value = analysis.required_columns[1];\n\nreturn [{\njson:{\n\ntype:\"bar\",\n\ntitle:analysis.title,\n\nlabels:rows.map(r=>r.json[category]),\n\nvalues:rows.map(r=>Number(r.json[value]))\n\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2416,
        -272
      ],
      "id": "5d18fa10-1254-4de7-a7d8-42dc21d9490e",
      "name": "BAR Engine"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $json;\n\nconst rows = $('Extract from File').all();\n\nconst category = analysis.required_columns[0];\nconst value = analysis.required_columns[1];\n\nreturn [{\njson:{\n\ntype:\"pie\",\n\ntitle:analysis.title,\n\nlabels:rows.map(r=>r.json[category]),\n\nvalues:rows.map(r=>Number(r.json[value]))\n\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        64
      ],
      "id": "4cb97193-6c98-4e2a-97ab-a090cd1f6ec6",
      "name": "PIE Engine"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $json;\n\nconst rows = $('Extract from File').all();\n\nconst x = analysis.required_columns[0];\nconst y = analysis.required_columns[1];\n\nreturn [{\njson:{\n\ntype:\"line\",\n\ntitle:analysis.title,\n\nx:rows.map(r=>r.json[x]),\n\ny:rows.map(r=>Number(r.json[y]))\n\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -80
      ],
      "id": "4d331ef8-d1b2-415f-9839-5dc6f77aecbe",
      "name": "LINE Engine"
    },
    {
      "parameters": {
        "jsCode": "const rows = $('Extract from File').all();\n\nreturn [{\njson:{\n\ntype:\"table\",\n\nrows:rows.map(r=>r.json)\n\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        384
      ],
      "id": "d020d75b-066d-4533-830b-a6c2460abd4e",
      "name": "TABLE Engine"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $json;\n\nconst rows = $('Extract from File').all();\n\nconst column = analysis.required_columns[0];\n\nreturn [{\njson:{\n\ntype:\"histogram\",\n\ntitle:analysis.title,\n\nvalues:rows.map(r=>Number(r.json[column]))\n\n}\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2496,
        528
      ],
      "id": "5c80cbe0-0418-4816-a8e2-5a163f6ac32f",
      "name": "HISTOGRAM Engine"
    },
    {
      "parameters": {
        "jsCode": "const analysis = $json;\n\nconst rows = $('Extract from File').all();\n\nconst x = analysis.required_columns[0];\nconst y = analysis.required_columns[1];\n\nreturn [{\n  json: {\n    type: \"scatter\",\n    title: analysis.title,\n\n    x: rows.map(r => Number(r.json[x])),\n\n    values: rows.map(r => Number(r.json[y]))\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        208
      ],
      "id": "f1b96bd1-6d2c-47dd-8e8f-d2065eecc6ec",
      "name": "SCATTER Engine"
    },
    {
      "parameters": {
        "numberInputs": 7
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3136,
        -48
      ],
      "id": "51e4ff06-4850-4a73-ad94-e6d6fe5050e4",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const charts = $input.all().map(i => i.json);\n\nreturn [{\n  json: {\n    charts\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3296,
        48
      ],
      "id": "f48b09a7-1172-4431-af5b-fef261a26f9a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Dataset Metadata\n{{ JSON.stringify({\n  totalRows: $json.profiling?.totalRows || 0,\n  totalColumns: $json.profiling?.totalColumns || 0,\n  duplicateRows: $json.profiling?.duplicateRows || 0,\n  dataQuality: $json.profiling?.dataQuality || 0,\n  columns: ($json.profiling?.columns || []).slice(0, 10)\n}, null, 2).slice(0, 6000) }}\n\nSample Rows - first 5 rows only\n{{ JSON.stringify(($json.sampleRows || []).slice(0, 5), null, 2).slice(0, 6000) }}\n\nChart URLs\n{{ JSON.stringify($json.chartUrls || [], null, 2).slice(0, 3000) }}\n\nWrite a short BI report with:\n1. Executive Summary\n2. Data Quality\n3. Key Insights\n4. Recommendations",
        "options": {
          "systemMessage": "You are a Senior Business Intelligence Consultant. Your goal is to write a clear, professional, and executive-ready BI report based on the provided data.\n\nRules:\n- Write in a natural, executive business tone.\n- Use ONLY the actual numbers and metrics provided in the data (e.g., totalRows, averages, KPIs).\n- Ensure that you use the exact image URLs provided for the charts. Do not modify the URLs.\n- Do not use placeholders like \"Not specified\" or \"Not provided\" if the data is available in the prompt.\n- Keep the report structured, highly scannable, and formatted in clean Markdown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        4688,
        -240
      ],
      "id": "532eb423-f87f-42ec-9bcd-fc6be390dc5e",
      "name": "AI Report"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        4704,
        -64
      ],
      "id": "5b2733d2-a09b-4bd9-a205-fd98e9380d32",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "jM0Q3fSorLL2Z0uR",
          "name": "OpenAI account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "markdownToHtml",
        "markdown": "={{ $json.output }}",
        "destinationKey": "html",
        "options": {}
      },
      "type": "n8n-nodes-base.markdown",
      "typeVersion": 1,
      "position": [
        5008,
        -320
      ],
      "id": "ee086864-486a-444e-8693-7d3c0d498231",
      "name": "Markdown"
    },
    {
      "parameters": {
        "jsCode": "const report = $json.html;\n\nconst html = `\n<!DOCTYPE html>\n<html>\n\n<head>\n\n<meta charset=\"UTF-8\">\n\n<style>\n\nbody{\n    font-family:Arial,sans-serif;\n    margin:40px;\n    color:#222;\n    background:#fafafa;\n}\n\n.header{\n    border-bottom:3px solid #1976d2;\n    margin-bottom:30px;\n}\n\n.header h1{\n    color:#1976d2;\n    margin:0;\n}\n\n.content{\n    background:white;\n    padding:30px;\n    border-radius:12px;\n    box-shadow:0 0 10px rgba(0,0,0,.1);\n}\n\nh1,h2,h3{\n    color:#1976d2;\n}\n\ntable{\n    border-collapse:collapse;\n    width:100%;\n}\n\nth,td{\n    border:1px solid #ddd;\n    padding:8px;\n}\n\ncode{\n    background:#eee;\n    padding:2px 4px;\n}\n\n</style>\n\n</head>\n\n<body>\n\n<div class=\"header\">\n\n<h1>Business Intelligence Report</h1>\n\n<p>Generated by AI BI Agent</p>\n\n</div>\n\n<div class=\"content\">\n\n${report}\n\n</div>\n\n</body>\n\n</html>\n`;\n\nreturn [{\n    json:{\n        html\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5200,
        -288
      ],
      "id": "2b5293cf-5edc-460c-a32c-44f59828b702",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        5696,
        -176
      ],
      "id": "fdb5ee64-b72e-4737-a9f6-6911e78c644f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=html",
        "options": {
          "fileName": "index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        5488,
        -256
      ],
      "id": "b422ca03-e763-499d-b0e7-bb35e14290e0",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://quickchart.io/chart/create",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n{\n  chart:\n\n    $json.type === 'scatter'\n\n    ? {\n        type: 'scatter',\n\n        data: {\n          datasets: [\n            {\n              label: $json.title,\n            data: $json.x.map((x, i) => ({\n                x,\n                y: $json.values[i]\n                  }))\n            }\n          ]\n        },\n\n        options: {\n          responsive: true,\n\n          plugins: {\n            legend: {\n              display: true\n            },\n            title: {\n              display: true,\n              text: $json.title\n            }\n          },\n\n          scales: {\n            x: {\n              title: {\n                display: true,\n                text: \"X\"\n              }\n            },\n            y: {\n              title: {\n                display: true,\n                text: \"Y\"\n              }\n            }\n          }\n        }\n      }\n\n    :\n\n    $json.type === 'histogram'\n\n    ? {\n        type: 'bar',\n\n        data: {\n          labels: $json.labels ?? $json.values.map((_, i) => `${i + 1}`),\n\n          datasets: [\n            {\n              label: $json.title,\n              data: $json.values,\n              barPercentage: 1,\n              categoryPercentage: 1\n            }\n          ]\n        },\n\n        options: {\n          responsive: true,\n\n          plugins: {\n            legend: {\n              display: true\n            },\n            title: {\n              display: true,\n              text: $json.title\n            }\n          },\n\n          scales: {\n            x: {\n              title: {\n                display: true,\n                text: \"Bins\"\n              }\n            },\n            y: {\n              title: {\n                display: true,\n                text: \"Frequency\"\n              }\n            }\n          }\n        }\n      }\n\n    :\n\n    {\n      type: $json.type,\n\n      data: {\n        labels: $json.labels,\n\n        datasets: [\n          {\n            label: $json.title,\n            data: $json.values\n          }\n        ]\n      },\n\n      options: {\n        responsive: true,\n\n        plugins: {\n          legend: {\n            display: true\n          },\n\n          title: {\n            display: true,\n            text: $json.title\n          }\n        }\n      }\n    }\n}\n}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3808,
        -352
      ],
      "id": "066213b3-3d32-4cfc-b36e-2dbd4f9cf577",
      "name": "Generate QuickChart URLs"
    },
    {
      "parameters": {
        "jsCode": "const charts = $('Code in JavaScript').first().json.charts;\nconst urls = $('Generate QuickChart URLs').all();\n\nlet urlIndex = 0;\n\nfor (const chart of charts) {\n\n    // الـ KPI لا يحتاج صورة\n    if (chart.type === 'kpi') {\n        continue;\n    }\n  if (chart.type === 'table') {\n        continue;\n    }\n\n    // إذا لا يوجد رابط نتجاهله\n    if (!urls[urlIndex]) {\n        console.log(`Missing URL for ${chart.title}`);\n        continue;\n    }\n\n    chart.image = urls[urlIndex].json.url;\n\n    urlIndex++;\n}\n\nreturn [\n{\n    json: {\n        charts\n    }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4016,
        -320
      ],
      "id": "3d1cd02f-01f9-4984-b1ed-e79530a87d2e",
      "name": "Attach Chart URL"
    },
    {
      "parameters": {
        "fieldToSplitOut": "charts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3424,
        -368
      ],
      "id": "48fddb68-f7fd-44e5-84f4-b3163728ab52",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "jsCode": "const supported = [\n  'bar',\n  'line',\n  'pie',\n  'doughnut',\n  'histogram',\n  'scatter',\n  'radar',\n  \n  'polarArea'\n];\n\nreturn items.filter(item =>\n  supported.includes(item.json.type)\n);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3616,
        -336
      ],
      "id": "598f6a1a-40c6-4239-aa3a-daa71b42dc7d",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nif (rows.length === 0) {\n  return [{\n    json: {\n      profiling: {\n        totalRows: 0,\n        totalColumns: 0,\n        columns: [],\n        missingValues: {},\n        duplicateRows: 0,\n        dataQuality: 100\n      }\n    }\n  }];\n}\n\nconst columns = Object.keys(rows[0]);\n\nconst profile = [];\nconst missingValues = {};\n\nfunction isMissing(v) {\n  return v === null || v === undefined || v === \"\";\n}\n\nfunction percentile(sorted, p) {\n  if (sorted.length === 0) return null;\n\n  const index = (sorted.length - 1) * p;\n  const lower = Math.floor(index);\n  const upper = Math.ceil(index);\n\n  if (lower === upper) return sorted[lower];\n\n  return sorted[lower] + (sorted[upper] - sorted[lower]) * (index - lower);\n}\n\nfor (const col of columns) {\n  const values = rows.map(r => r[col]);\n\n  const missing = values.filter(isMissing).length;\n  missingValues[col] = missing;\n\n  const nonMissingValues = values.filter(v => !isMissing(v));\n\n  const numeric =\n    nonMissingValues.length > 0 &&\n    nonMissingValues.every(v => !isNaN(Number(v)));\n\n  if (numeric) {\n    const nums = nonMissingValues.map(Number);\n    const sorted = [...nums].sort((a, b) => a - b);\n\n    const min = Math.min(...nums);\n    const max = Math.max(...nums);\n\n    const mean = nums.reduce((a, b) => a + b, 0) / nums.length;\n\n    const variance =\n      nums.reduce((sum, value) => sum + Math.pow(value - mean, 2), 0) / nums.length;\n\n    const std = Math.sqrt(variance);\n\n    const median = percentile(sorted, 0.5);\n    const q1 = percentile(sorted, 0.25);\n    const q3 = percentile(sorted, 0.75);\n    const iqr = q3 - q1;\n\n    profile.push({\n      name: col,\n      type: \"Numeric\",\n      min: Number(min.toFixed(2)),\n      max: Number(max.toFixed(2)),\n      average: Number(mean.toFixed(2)),\n      median: Number(median.toFixed(2)),\n      q1: Number(q1.toFixed(2)),\n      q3: Number(q3.toFixed(2)),\n      iqr: Number(iqr.toFixed(2)),\n      std: Number(std.toFixed(2)),\n      missing\n    });\n  } else {\n    profile.push({\n      name: col,\n      type: \"Categorical\",\n      uniqueValues: new Set(nonMissingValues).size,\n      missing\n    });\n  }\n}\n\nconst duplicateRows =\n  rows.length - new Set(rows.map(r => JSON.stringify(r))).size;\n\nconst totalMissing =\n  Object.values(missingValues).reduce((a, b) => a + b, 0);\n\nconst denominator = rows.length * columns.length;\n\nconst quality = denominator === 0\n  ? 100\n  : Math.max(0, 100 - ((totalMissing + duplicateRows) / denominator) * 100);\n\nreturn [{\n  json: {\n    profiling: {\n      totalRows: rows.length,\n      totalColumns: columns.length,\n      duplicateRows,\n      missingValues,\n      dataQuality: Number(quality.toFixed(1)),\n      columns: profile\n    }\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3648,
        336
      ],
      "id": "3da15b2b-57bb-4465-89b4-bb50cc68bc87",
      "name": "Data Profiling"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4288,
        -80
      ],
      "id": "b6d33005-0f4d-4f7e-939e-e435becf83b9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n\n    metadata: $('Code (metadata + data)').first().json.metadata,\n\n    profiling: $('Data Profiling').first().json.profiling,\n\n    analyses: $('Code (Parse JSON)').first().json.analyses,\n\n    charts: $('Attach Chart URL').first().json.charts,\n\n    rows: $('Extract from File').all().map(i => i.json),\n\n    columns: Object.keys($('Extract from File').first().json)\n\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4832,
        320
      ],
      "id": "b29348e4-3f47-4d15-8385-7fdc4ef1de11",
      "name": "merge"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nfunction jsonForHtml(value) {\n    return JSON.stringify(value ?? {})\n        .replace(/</g, \"\\\\u003c\")\n        .replace(/>/g, \"\\\\u003e\")\n        .replace(/&/g, \"\\\\u0026\")\n        .replace(/\\u2028/g, \"\\\\u2028\")\n        .replace(/\\u2029/g, \"\\\\u2029\");\n}\n\nfunction createCSS() {\n    return `\n:root{\n    --bg:#f5f7fb;\n    --panel:#ffffff;\n    --panel-2:#f9fafc;\n    --panel-3:#eef2f7;\n    --text:#172033;\n    --muted:#657084;\n    --muted-2:#98a2b3;\n    --border:#e1e7f0;\n    --primary:#2563eb;\n    --primary-2:#0f62fe;\n    --fabric:#742774;\n    --cyan:#00a3a3;\n    --green:#16a34a;\n    --amber:#f59e0b;\n    --red:#dc2626;\n    --shadow:0 14px 34px rgba(15,23,42,.08);\n    --shadow-soft:0 8px 20px rgba(15,23,42,.06);\n    --radius:10px;\n    --sidebar:260px;\n    --topbar:68px;\n    --font:Inter,Segoe UI,Roboto,Arial,sans-serif;\n}\n*{box-sizing:border-box}\nhtml{scroll-behavior:smooth}\nbody{\n    margin:0;\n    min-height:100vh;\n    background:var(--bg);\n    color:var(--text);\n    font-family:var(--font);\n    font-size:14px;\n    line-height:1.45;\n}\nbutton,input,select{font:inherit}\nbutton{cursor:pointer}\na{color:inherit}\n.app{\n    min-height:100vh;\n    display:grid;\n    grid-template-columns:var(--sidebar) minmax(0,1fr);\n}\n.sidebar{\n    position:sticky;\n    top:0;\n    height:100vh;\n    overflow:auto;\n    background:#111827;\n    color:#e5e7eb;\n    border-right:1px solid rgba(255,255,255,.08);\n    padding:16px 12px;\n    z-index:30;\n}\n.brand{\n    display:flex;\n    align-items:center;\n    gap:10px;\n    padding:8px 8px 18px;\n    border-bottom:1px solid rgba(255,255,255,.1);\n    margin-bottom:12px;\n}\n.brand-mark{\n    width:36px;\n    height:36px;\n    border-radius:9px;\n    display:grid;\n    place-items:center;\n    font-weight:900;\n    background:linear-gradient(135deg,#f2c811,#0f62fe 58%,#742774);\n    color:#fff;\n}\n.brand-title{font-weight:850;font-size:15px}\n.brand-subtitle{font-size:12px;color:#aab3c2;margin-top:1px}\n.nav-title{\n    padding:14px 10px 8px;\n    font-size:11px;\n    font-weight:850;\n    color:#8e99aa;\n    text-transform:uppercase;\n    letter-spacing:.08em;\n}\n.nav-link{\n    width:100%;\n    border:0;\n    background:transparent;\n    color:#cbd5e1;\n    text-decoration:none;\n    border-radius:8px;\n    padding:10px;\n    display:flex;\n    align-items:center;\n    gap:10px;\n    font-weight:750;\n    margin-bottom:3px;\n    text-align:left;\n}\n.nav-link:hover,.nav-link.active{background:rgba(255,255,255,.08);color:#fff}\n.nav-icon{width:18px;height:18px;flex:0 0 auto}\n.sidebar-filter{\n    padding:10px;\n    border-radius:8px;\n    border:1px solid rgba(255,255,255,.1);\n    background:rgba(255,255,255,.04);\n    margin-bottom:10px;\n}\n.sidebar-filter label{\n    display:block;\n    font-size:11px;\n    color:#aab3c2;\n    font-weight:850;\n    text-transform:uppercase;\n    letter-spacing:.05em;\n    margin-bottom:6px;\n}\n.sidebar-filter select{\n    width:100%;\n    min-height:36px;\n    background:#0b1220;\n    border:1px solid rgba(255,255,255,.12);\n    color:#e5e7eb;\n    border-radius:8px;\n    padding:7px 8px;\n}\n.main{min-width:0;display:flex;flex-direction:column}\n.topbar{\n    position:sticky;\n    top:0;\n    z-index:20;\n    min-height:var(--topbar);\n    background:rgba(255,255,255,.9);\n    backdrop-filter:blur(18px);\n    border-bottom:1px solid var(--border);\n    display:flex;\n    align-items:center;\n    justify-content:space-between;\n    gap:14px;\n    padding:12px 22px;\n}\n.topbar-left{min-width:0;display:flex;align-items:center;gap:12px}\n.menu-toggle{\n    display:none;\n    width:38px;\n    height:38px;\n    align-items:center;\n    justify-content:center;\n    border:1px solid var(--border);\n    background:var(--panel);\n    color:var(--text);\n    border-radius:8px;\n}\n.page-title{\n    margin:0;\n    font-size:21px;\n    line-height:1.15;\n    font-weight:900;\n    letter-spacing:0;\n    white-space:nowrap;\n    overflow:hidden;\n    text-overflow:ellipsis;\n}\n.page-subtitle{\n    margin-top:3px;\n    color:var(--muted);\n    font-size:12px;\n    white-space:nowrap;\n    overflow:hidden;\n    text-overflow:ellipsis;\n}\n.actions{display:flex;align-items:center;gap:10px;flex-wrap:wrap;justify-content:flex-end}\n.btn{\n    min-height:38px;\n    border:1px solid var(--border);\n    background:var(--panel);\n    color:var(--text);\n    border-radius:8px;\n    padding:8px 12px;\n    display:inline-flex;\n    align-items:center;\n    justify-content:center;\n    gap:8px;\n    font-weight:800;\n}\n.btn:hover{background:var(--panel-3)}\n.btn-primary{background:var(--primary-2);border-color:var(--primary-2);color:#fff}\n.btn-primary:hover{background:#0b56e5}\n.content{\n    width:100%;\n    max-width:1780px;\n    margin:0 auto;\n    padding:22px;\n}\n.section{\n    margin-bottom:22px;\n    scroll-margin-top:86px;\n}\n.section-header{\n    display:flex;\n    align-items:flex-end;\n    justify-content:space-between;\n    gap:14px;\n    margin-bottom:12px;\n}\n.section-title{\n    margin:0;\n    font-size:16px;\n    line-height:1.2;\n    font-weight:900;\n}\n.section-description{\n    margin:4px 0 0;\n    color:var(--muted);\n    font-size:12px;\n}\n.card{\n    background:var(--panel);\n    border:1px solid var(--border);\n    border-radius:var(--radius);\n    box-shadow:var(--shadow-soft);\n    min-width:0;\n}\n.card-pad{padding:16px}\n.grid{display:grid;gap:14px}\n.kpi-grid{grid-template-columns:repeat(4,minmax(0,1fr))}\n.overview-grid{grid-template-columns:repeat(4,minmax(0,1fr))}\n.quality-grid{grid-template-columns:repeat(4,minmax(0,1fr))}\n.profile-grid{grid-template-columns:repeat(3,minmax(0,1fr))}\n.charts-grid{grid-template-columns:repeat(2,minmax(0,1fr))}\n.filter-grid{\n    display:grid;\n    grid-template-columns:minmax(260px,1fr) repeat(3,minmax(160px,220px));\n    gap:10px;\n    align-items:end;\n}\n.control{min-width:0}\n.control label{\n    display:block;\n    color:var(--muted);\n    font-size:11px;\n    font-weight:850;\n    text-transform:uppercase;\n    letter-spacing:.05em;\n    margin-bottom:5px;\n}\n.input,.select{\n    width:100%;\n    min-height:40px;\n    border:1px solid var(--border);\n    border-radius:8px;\n    background:var(--panel);\n    color:var(--text);\n    padding:8px 10px;\n    outline:none;\n}\n.input:focus,.select:focus{\n    border-color:var(--primary);\n    box-shadow:0 0 0 3px rgba(37,99,235,.16);\n}\n.kpi-card{\n    position:relative;\n    overflow:hidden;\n    min-height:132px;\n}\n.kpi-card:before{\n    content:\"\";\n    position:absolute;\n    left:0;\n    top:0;\n    bottom:0;\n    width:4px;\n    background:linear-gradient(180deg,#f2c811,#0f62fe,#742774);\n}\n.kpi-label{\n    color:var(--muted);\n    font-size:12px;\n    font-weight:850;\n    text-transform:uppercase;\n    letter-spacing:.04em;\n}\n.kpi-value{\n    margin-top:10px;\n    font-size:30px;\n    line-height:1;\n    font-weight:950;\n    overflow-wrap:anywhere;\n}\n.kpi-meta{\n    margin-top:14px;\n    display:flex;\n    align-items:center;\n    justify-content:space-between;\n    gap:8px;\n    color:var(--muted);\n    font-size:12px;\n}\n.kpi-positive{color:var(--green)}\n.kpi-negative{color:var(--red)}\n.metric-card{min-height:112px}\n.metric-label{\n    color:var(--muted);\n    font-size:12px;\n    font-weight:850;\n    text-transform:uppercase;\n    letter-spacing:.04em;\n}\n.metric-value{\n    margin-top:8px;\n    font-size:24px;\n    line-height:1.12;\n    font-weight:950;\n    overflow-wrap:anywhere;\n}\n.metric-note{\n    margin-top:7px;\n    color:var(--muted);\n    font-size:12px;\n    overflow-wrap:anywhere;\n}\n.quality-bar{\n    height:8px;\n    border-radius:999px;\n    background:var(--panel-3);\n    overflow:hidden;\n    margin-top:12px;\n}\n.quality-fill{\n    height:100%;\n    border-radius:999px;\n    background:linear-gradient(90deg,var(--red),var(--amber),var(--green));\n}\n.profile-card{min-height:242px}\n.profile-top{\n    display:flex;\n    align-items:flex-start;\n    justify-content:space-between;\n    gap:10px;\n    margin-bottom:12px;\n}\n.profile-name{font-size:15px;font-weight:950;overflow-wrap:anywhere}\n.profile-sub{font-size:12px;color:var(--muted);margin-top:2px;overflow-wrap:anywhere}\n.badge{\n    display:inline-flex;\n    align-items:center;\n    min-height:24px;\n    padding:3px 8px;\n    border-radius:999px;\n    background:var(--panel-3);\n    color:var(--muted);\n    border:1px solid var(--border);\n    font-size:11px;\n    font-weight:850;\n    white-space:nowrap;\n}\n.profile-stats{\n    display:grid;\n    grid-template-columns:repeat(2,minmax(0,1fr));\n    gap:8px;\n}\n.stat{\n    padding:9px;\n    background:var(--panel-2);\n    border:1px solid var(--border);\n    border-radius:8px;\n    min-width:0;\n}\n.stat-label{\n    color:var(--muted);\n    font-size:11px;\n    font-weight:850;\n    text-transform:uppercase;\n    letter-spacing:.04em;\n}\n.stat-value{\n    margin-top:4px;\n    font-weight:950;\n    overflow-wrap:anywhere;\n}\n.chart-card{\n    min-height:434px;\n    display:flex;\n    flex-direction:column;\n    overflow:hidden;\n}\n.chart-header{\n    padding:14px 16px 10px;\n    display:flex;\n    align-items:flex-start;\n    justify-content:space-between;\n    gap:12px;\n    border-bottom:1px solid var(--border);\n}\n.chart-title{\n    margin:0;\n    font-size:14px;\n    line-height:1.25;\n    font-weight:950;\n    overflow-wrap:anywhere;\n}\n.chart-subtitle{\n    margin-top:4px;\n    color:var(--muted);\n    font-size:12px;\n    overflow-wrap:anywhere;\n}\n.chart-actions{display:flex;gap:8px;flex:0 0 auto}\n.icon-btn{\n    width:34px;\n    height:34px;\n    border:1px solid var(--border);\n    background:var(--panel);\n    color:var(--text);\n    border-radius:8px;\n    display:grid;\n    place-items:center;\n}\n.icon-btn:hover{background:var(--panel-3)}\n.chart{\n    width:100%;\n    height:360px;\n    min-height:300px;\n}\n.table-card{overflow:hidden}\n.table-shell{\n    width:100%;\n    overflow:auto;\n    max-height:680px;\n}\ntable{\n    width:100%;\n    min-width:760px;\n    border-collapse:separate;\n    border-spacing:0;\n}\nthead th{\n    position:sticky;\n    top:0;\n    z-index:2;\n    background:var(--panel-2);\n    color:var(--muted);\n    text-align:left;\n    font-size:11px;\n    font-weight:950;\n    text-transform:uppercase;\n    letter-spacing:.05em;\n    border-bottom:1px solid var(--border);\n    padding:11px 12px;\n    white-space:nowrap;\n    user-select:none;\n}\nthead th.sortable{cursor:pointer}\ntbody td{\n    border-bottom:1px solid var(--border);\n    padding:11px 12px;\n    vertical-align:top;\n    max-width:340px;\n    white-space:nowrap;\n    overflow:hidden;\n    text-overflow:ellipsis;\n}\ntbody tr:hover{background:var(--panel-2)}\n.table-footer{\n    display:flex;\n    justify-content:space-between;\n    align-items:center;\n    gap:12px;\n    flex-wrap:wrap;\n    padding:12px 16px;\n    border-top:1px solid var(--border);\n    color:var(--muted);\n    font-size:12px;\n}\n.pagination{display:flex;align-items:center;gap:8px;flex-wrap:wrap}\n.empty{\n    padding:28px;\n    text-align:center;\n    color:var(--muted);\n    border:1px dashed var(--border);\n    border-radius:8px;\n    background:var(--panel);\n}\n.footer{\n    color:var(--muted);\n    font-size:12px;\n    padding:18px 0 8px;\n    text-align:center;\n}\n.drawer-backdrop{\n    display:none;\n    position:fixed;\n    inset:0;\n    background:rgba(15,23,42,.45);\n    z-index:25;\n}\n@media(max-width:1280px){\n    .kpi-grid,.overview-grid,.quality-grid{grid-template-columns:repeat(2,minmax(0,1fr))}\n    .profile-grid{grid-template-columns:repeat(2,minmax(0,1fr))}\n}\n@media(max-width:1060px){\n    .app{grid-template-columns:1fr}\n    .sidebar{\n        position:fixed;\n        left:0;\n        top:0;\n        width:min(86vw,var(--sidebar));\n        transform:translateX(-105%);\n        transition:transform .2s ease;\n    }\n    .sidebar.open{transform:translateX(0)}\n    .drawer-backdrop.show{display:block}\n    .menu-toggle{display:inline-flex}\n    .charts-grid,.filter-grid{grid-template-columns:1fr}\n}\n@media(max-width:680px){\n    .topbar{\n        align-items:flex-start;\n        flex-direction:column;\n    }\n    .topbar-left,.actions{width:100%}\n    .actions{justify-content:stretch}\n    .actions .btn{flex:1}\n    .content{padding:16px}\n    .kpi-grid,.overview-grid,.quality-grid,.profile-grid{grid-template-columns:1fr}\n    .section-header{align-items:flex-start;flex-direction:column}\n    .chart-card{min-height:380px}\n    .chart{height:300px}\n}\n@media print{\n    .sidebar,.topbar .actions,.menu-toggle,.drawer-backdrop,.filter-grid,.chart-actions,.table-footer{display:none!important}\n    .app{display:block}\n    .topbar{position:static;border-bottom:1px solid #ddd}\n    .content{max-width:none;padding:12px}\n    .card{box-shadow:none;break-inside:avoid}\n    .kpi-grid,.overview-grid,.quality-grid,.profile-grid,.charts-grid{grid-template-columns:1fr 1fr}\n}`;\n}\n\nfunction createHeader() {\n    return `\n<header class=\"topbar\">\n    <div class=\"topbar-left\">\n        <button class=\"menu-toggle\" id=\"menuToggle\" type=\"button\" aria-label=\"Open navigation\">\n            <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M4 6h16M4 12h16M4 18h16\"/></svg>\n        </button>\n        <div>\n            <h1 class=\"page-title\" id=\"dashboardTitle\">Business Intelligence Dashboard</h1>\n            <div class=\"page-subtitle\" id=\"dashboardSubtitle\">Executive analytics and dataset intelligence</div>\n        </div>\n    </div>\n    <div class=\"actions\">\n        <button class=\"btn\" id=\"resetFilters\" type=\"button\">\n            <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M3 12a9 9 0 1 0 3-6.7\"/><path d=\"M3 3v6h6\"/></svg>\n            Reset\n        </button>\n        <button class=\"btn\" id=\"exportDashboard\" type=\"button\">\n            <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4\"/><path d=\"M7 10l5 5 5-5\"/><path d=\"M12 15V3\"/></svg>\n            Export PNG\n        </button>\n        <button class=\"btn btn-primary\" id=\"printDashboard\" type=\"button\">\n            <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M6 9V2h12v7\"/><path d=\"M6 18H4a2 2 0 0 1-2-2v-5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-2\"/><path d=\"M6 14h12v8H6z\"/></svg>\n            Print\n        </button>\n    </div>\n</header>`;\n}\n\nfunction createSidebar() {\n    return `\n<aside class=\"sidebar\" id=\"sidebar\">\n    <div class=\"brand\">\n        <div class=\"brand-mark\">BI</div>\n        <div>\n            <div class=\"brand-title\">Dashboard Builder</div>\n            <div class=\"brand-subtitle\">n8n generated report</div>\n        </div>\n    </div>\n    <div class=\"nav-title\">Navigation</div>\n    <a class=\"nav-link active\" href=\"#overview\">\n        <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><rect x=\"3\" y=\"3\" width=\"7\" height=\"7\"/><rect x=\"14\" y=\"3\" width=\"7\" height=\"7\"/><rect x=\"14\" y=\"14\" width=\"7\" height=\"7\"/><rect x=\"3\" y=\"14\" width=\"7\" height=\"7\"/></svg>\n        Overview\n    </a>\n    <a class=\"nav-link\" href=\"#kpis\">\n        <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M3 3v18h18\"/><path d=\"m7 16 4-4 3 3 5-7\"/></svg>\n        KPIs\n    </a>\n    <a class=\"nav-link\" href=\"#quality\">\n        <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M20 6 9 17l-5-5\"/></svg>\n        Quality\n    </a>\n    <a class=\"nav-link\" href=\"#profiling\">\n        <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M4 19V5\"/><path d=\"M8 19V9\"/><path d=\"M12 19V3\"/><path d=\"M16 19v-7\"/><path d=\"M20 19V8\"/></svg>\n        Profiling\n    </a>\n    <a class=\"nav-link\" href=\"#charts\">\n        <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M3 3v18h18\"/><rect x=\"7\" y=\"10\" width=\"3\" height=\"7\"/><rect x=\"12\" y=\"6\" width=\"3\" height=\"11\"/><rect x=\"17\" y=\"13\" width=\"3\" height=\"4\"/></svg>\n        Charts\n    </a>\n    <a class=\"nav-link\" href=\"#table\">\n        <svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M3 5h18M3 12h18M3 19h18\"/><path d=\"M8 5v14M16 5v14\"/></svg>\n        Table\n    </a>\n    <div class=\"nav-title\">Filters</div>\n    <div id=\"sidebarFilters\"></div>\n</aside>\n<div class=\"drawer-backdrop\" id=\"drawerBackdrop\"></div>`;\n}\n\nfunction createDashboardShell() {\n    return `\n<div class=\"app\" id=\"dashboardApp\">\n    ${createSidebar()}\n    <main class=\"main\">\n        ${createHeader()}\n        <div class=\"content\" id=\"dashboardContent\">\n            <section class=\"section\" id=\"filters\">\n                <div class=\"card card-pad\">\n                    <div class=\"filter-grid\" id=\"filtersGrid\"></div>\n                </div>\n            </section>\n            <section class=\"section\" id=\"overview\">\n                <div class=\"section-header\">\n                    <div>\n                        <h2 class=\"section-title\">Dataset Overview</h2>\n                        <p class=\"section-description\">Metadata, shape, domain context, and profiling summary.</p>\n                    </div>\n                </div>\n                <div class=\"grid overview-grid\" id=\"overviewGrid\"></div>\n            </section>\n            <section class=\"section\" id=\"kpis\">\n                <div class=\"section-header\">\n                    <div>\n                        <h2 class=\"section-title\">Key Performance Indicators</h2>\n                        <p class=\"section-description\">Automatically generated from charts where type equals KPI.</p>\n                    </div>\n                </div>\n                <div class=\"grid kpi-grid\" id=\"kpiGrid\"></div>\n            </section>\n            <section class=\"section\" id=\"quality\">\n                <div class=\"section-header\">\n                    <div>\n                        <h2 class=\"section-title\">Data Quality</h2>\n                        <p class=\"section-description\">Completeness, duplicates, missing values, and quality score.</p>\n                    </div>\n                </div>\n                <div class=\"grid quality-grid\" id=\"qualityGrid\"></div>\n            </section>\n            <section class=\"section\" id=\"profiling\">\n                <div class=\"section-header\">\n                    <div>\n                        <h2 class=\"section-title\">Column Profiling</h2>\n                        <p class=\"section-description\">Numeric statistics and categorical health indicators for every column.</p>\n                    </div>\n                </div>\n                <div class=\"grid profile-grid\" id=\"profileGrid\"></div>\n            </section>\n            <section class=\"section\" id=\"charts\">\n                <div class=\"section-header\">\n                    <div>\n                        <h2 class=\"section-title\">Interactive Charts</h2>\n                        <p class=\"section-description\">Apache ECharts visuals generated from chart definitions.</p>\n                    </div>\n                </div>\n                <div class=\"grid charts-grid\" id=\"chartsGrid\"></div>\n            </section>\n            <section class=\"section\" id=\"table\">\n                <div class=\"section-header\">\n                    <div>\n                        <h2 class=\"section-title\">Data Table</h2>\n                        <p class=\"section-description\">Searchable, sortable, filtered detail rows.</p>\n                    </div>\n                </div>\n                <div class=\"card table-card\" id=\"tableCard\"></div>\n            </section>\n            <footer class=\"footer\" id=\"footer\"></footer>\n        </div>\n    </main>\n</div>`;\n}\n\nfunction createRuntimeScript() {\n    return `\n<script>\nwindow.dashboardData = ${jsonForHtml(data)};\n\n(function(){\n    \"use strict\";\n\n    var rawData = window.dashboardData || {};\n    var state = {\n        sourceRows: Array.isArray(rawData.rows) ? rawData.rows.slice() : [],\n        filteredRows: [],\n        columns: [],\n        filters: {},\n        filterColumns: [],\n        search: \"\",\n        sortColumn: null,\n        sortDirection: \"asc\",\n        page: 1,\n        pageSize: 25,\n        chartInstances: []\n    };\n\n    function byId(id){\n        return document.getElementById(id);\n    }\n\n    function escapeHtml(value){\n        if(value === null || value === undefined) return \"\";\n        return String(value)\n            .replace(/&/g,\"&amp;\")\n            .replace(/</g,\"&lt;\")\n            .replace(/>/g,\"&gt;\")\n            .replace(/\"/g,\"&quot;\")\n            .replace(/'/g,\"&#039;\");\n    }\n\n    function text(value){\n        if(value === null || value === undefined || value === \"\") return \"—\";\n        if(Array.isArray(value)) return value.map(text).join(\", \");\n        if(typeof value === \"object\") return JSON.stringify(value);\n        return String(value);\n    }\n\n    function titleCase(value){\n        return String(value || \"\")\n            .replace(/[_\\\\-]+/g,\" \")\n            .replace(/\\\\s+/g,\" \")\n            .trim()\n            .replace(/\\\\w\\\\S*/g,function(part){\n                return part.charAt(0).toUpperCase() + part.slice(1);\n            });\n    }\n\n    function isMissing(value){\n        return value === null || value === undefined || value === \"\";\n    }\n\n    function isNumberLike(value){\n        if(isMissing(value)) return false;\n        return Number.isFinite(Number(value));\n    }\n\n    function toNumber(value){\n        if(value === null || value === undefined || value === \"\") return null;\n        if(typeof value === \"number\") return Number.isFinite(value) ? value : null;\n\n        var cleaned = String(value)\n            .replace(/,/g,\"\")\n            .replace(/[^\\d.\\-]/g,\"\");\n\n        var number = Number(cleaned);\n        return Number.isFinite(number) ? number : null;\n    }\n\n    function formatNumber(value, digits){\n        if(value === null || value === undefined || value === \"\") return \"—\";\n        var number = Number(value);\n        if(!Number.isFinite(number)) return text(value);\n        var abs = Math.abs(number);\n        var maximumFractionDigits = digits !== undefined ? digits : (abs >= 100 ? 0 : 2);\n        return new Intl.NumberFormat(undefined,{maximumFractionDigits:maximumFractionDigits}).format(number);\n    }\n\n    function formatValue(value){\n        if(value === null || value === undefined || value === \"\") return \"—\";\n        if(typeof value === \"number\") return formatNumber(value);\n        if(typeof value === \"boolean\") return value ? \"True\" : \"False\";\n        if(Array.isArray(value)) return value.map(formatValue).join(\", \");\n        if(typeof value === \"object\") return JSON.stringify(value);\n        return String(value);\n    }\n\n    function readAny(object, keys, fallback){\n        if(!object || typeof object !== \"object\") return fallback;\n        for(var i=0;i<keys.length;i++){\n            if(object[keys[i]] !== undefined && object[keys[i]] !== null && object[keys[i]] !== \"\") return object[keys[i]];\n        }\n        return fallback;\n    }\n\n    function getColumnName(column){\n        if(typeof column === \"string\") return column;\n        if(!column || typeof column !== \"object\") return \"\";\n        return column.name || column.key || column.field || column.id || column.label || \"\";\n    }\n\n    function getColumnLabel(column, name){\n        if(column && typeof column === \"object\") return column.label || column.title || column.display_name || column.displayName || titleCase(name);\n        return titleCase(name);\n    }\n\n    function normalizeType(type){\n        var value = String(type || \"\").toLowerCase();\n        if([\"integer\",\"int\",\"float\",\"double\",\"decimal\",\"number\",\"numeric\",\"currency\",\"percentage\"].indexOf(value) !== -1) return \"numeric\";\n        if([\"date\",\"datetime\",\"timestamp\",\"time\"].indexOf(value) !== -1) return \"date\";\n        if([\"boolean\",\"bool\"].indexOf(value) !== -1) return \"boolean\";\n        return value || \"categorical\";\n    }\n\n    function inferColumns(){\n        var declared = Array.isArray(rawData.columns) ? rawData.columns : [];\n        var names = [];\n\n        declared.forEach(function(column){\n            var name = getColumnName(column);\n            if(name && names.indexOf(name) === -1) names.push(name);\n        });\n\n        state.sourceRows.forEach(function(row){\n            if(!row || typeof row !== \"object\") return;\n            Object.keys(row).forEach(function(key){\n                if(names.indexOf(key) === -1) names.push(key);\n            });\n        });\n\n        state.columns = names.map(function(name){\n            var declaredColumn = declared.find(function(column){\n                return getColumnName(column) === name;\n            });\n            var values = state.sourceRows.map(function(row){ return row ? row[name] : undefined; });\n            var filled = values.filter(function(value){ return !isMissing(value); }).length;\n            var numeric = values.filter(isNumberLike).length;\n            var inferred = filled > 0 && numeric / filled >= .85 ? \"numeric\" : \"categorical\";\n            var rawType = declaredColumn && typeof declaredColumn === \"object\" ? (declaredColumn.data_type || declaredColumn.dataType || declaredColumn.type || declaredColumn.semantic_type || declaredColumn.semanticType) : \"\";\n            var finalType = rawType ? normalizeType(rawType) : inferred;\n            if(finalType !== \"numeric\" && finalType !== \"date\" && finalType !== \"boolean\") finalType = \"categorical\";\n            return {\n                name:name,\n                label:getColumnLabel(declaredColumn,name),\n                type:finalType,\n                raw:declaredColumn || {}\n            };\n        });\n    }\n\n    function valuesFor(columnName, rows){\n        var source = rows || state.sourceRows;\n        return source.map(function(row){ return row ? row[columnName] : undefined; });\n    }\n\n    function missingCount(values){\n        return values.filter(isMissing).length;\n    }\n\n    function uniqueValues(values){\n        var set = new Set();\n        values.forEach(function(value){\n            if(!isMissing(value)) set.add(String(value));\n        });\n        return Array.from(set);\n    }\n\n    function uniqueCount(values){\n        return uniqueValues(values).length;\n    }\n\n    function percentile(sortedValues, p){\n        if(!sortedValues.length) return null;\n        var index = (sortedValues.length - 1) * p;\n        var lower = Math.floor(index);\n        var upper = Math.ceil(index);\n        var weight = index - lower;\n        if(upper >= sortedValues.length) return sortedValues[lower];\n        return sortedValues[lower] * (1 - weight) + sortedValues[upper] * weight;\n    }\n\n    function numericStats(values){\n        var nums = values.map(toNumber).filter(function(value){ return value !== null; }).sort(function(a,b){ return a-b; });\n        if(!nums.length){\n            return {count:0,min:null,max:null,average:null,median:null,stdDev:null,q1:null,q3:null,iqr:null};\n        }\n        var sum = nums.reduce(function(total,value){ return total + value; },0);\n        var avg = sum / nums.length;\n        var variance = nums.reduce(function(total,value){ return total + Math.pow(value - avg,2); },0) / nums.length;\n        var q1 = percentile(nums,.25);\n        var q3 = percentile(nums,.75);\n        return {\n            count:nums.length,\n            min:nums[0],\n            max:nums[nums.length - 1],\n            average:avg,\n            median:percentile(nums,.5),\n            stdDev:Math.sqrt(variance),\n            q1:q1,\n            q3:q3,\n            iqr:q3 !== null && q1 !== null ? q3 - q1 : null\n        };\n    }\n\n    function metricCard(label,value,note,barPercent){\n        var bar = typeof barPercent === \"number\" ? '<div class=\"quality-bar\"><div class=\"quality-fill\" style=\"width:' + Math.max(0,Math.min(100,barPercent)) + '%\"></div></div>' : \"\";\n        return '<article class=\"card card-pad metric-card\"><div class=\"metric-label\">' + escapeHtml(label) + '</div><div class=\"metric-value\">' + escapeHtml(formatValue(value)) + '</div><div class=\"metric-note\">' + escapeHtml(note || \"\") + '</div>' + bar + '</article>';\n    }\n\n    function getDashboardTitle(){\n        return readAny(rawData.metadata,[\"title\",\"name\",\"dataset\",\"dataset_name\",\"datasetName\",\"report_title\",\"reportTitle\"],\"Business Intelligence Dashboard\");\n    }\n\n    function getDashboardSubtitle(){\n        return readAny(rawData.metadata,[\"description\",\"subtitle\",\"summary\",\"source\"],\"Executive analytics and dataset intelligence\");\n    }\n\n    function updateHeader(){\n        byId(\"dashboardTitle\").textContent = getDashboardTitle();\n        byId(\"dashboardSubtitle\").textContent = getDashboardSubtitle();\n    }\n\n    function cssEscape(value){\n        if(window.CSS && typeof window.CSS.escape === \"function\") return window.CSS.escape(value);\n        return String(value).replace(/[\"\\\\\\\\]/g,\"\\\\\\\\$&\");\n    }\n\n    function createFilters(){\n        var grid = byId(\"filtersGrid\");\n        var sidebar = byId(\"sidebarFilters\");\n\n        state.filterColumns = state.columns.filter(function(column){\n            if(column.type === \"numeric\") return false;\n            var uniques = uniqueValues(valuesFor(column.name,state.sourceRows));\n            return uniques.length > 0 && uniques.length <= 80;\n        }).slice(0,6);\n\n        var html = \"\";\n        html += '<div class=\"control\"><label for=\"globalSearch\">Search</label><input class=\"input\" id=\"globalSearch\" type=\"search\" placeholder=\"Search all rows\"></div>';\n        html += '<div class=\"control\"><label for=\"pageSize\">Rows per page</label><select class=\"select\" id=\"pageSize\"><option value=\"10\">10 rows</option><option value=\"25\" selected>25 rows</option><option value=\"50\">50 rows</option><option value=\"100\">100 rows</option></select></div>';\n\n        state.filterColumns.slice(0,2).forEach(function(column){\n            var values = uniqueValues(valuesFor(column.name,state.sourceRows)).sort();\n            html += '<div class=\"control\"><label for=\"filter_' + escapeHtml(column.name) + '\">' + escapeHtml(column.label) + '</label><select class=\"select column-filter\" id=\"filter_' + escapeHtml(column.name) + '\" data-column=\"' + escapeHtml(column.name) + '\"><option value=\"\">All</option>' + values.map(function(value){ return '<option value=\"' + escapeHtml(value) + '\">' + escapeHtml(value) + '</option>'; }).join(\"\") + '</select></div>';\n        });\n\n        grid.innerHTML = html;\n\n        sidebar.innerHTML = state.filterColumns.length ? state.filterColumns.map(function(column){\n            var values = uniqueValues(valuesFor(column.name,state.sourceRows)).sort();\n            return '<div class=\"sidebar-filter\"><label for=\"side_filter_' + escapeHtml(column.name) + '\">' + escapeHtml(column.label) + '</label><select class=\"side-column-filter\" id=\"side_filter_' + escapeHtml(column.name) + '\" data-column=\"' + escapeHtml(column.name) + '\"><option value=\"\">All</option>' + values.map(function(value){ return '<option value=\"' + escapeHtml(value) + '\">' + escapeHtml(value) + '</option>'; }).join(\"\") + '</select></div>';\n        }).join(\"\") : '<div class=\"sidebar-filter\">No categorical filters available.</div>';\n\n        byId(\"globalSearch\").addEventListener(\"input\",function(event){\n            state.search = event.target.value || \"\";\n            state.page = 1;\n            refreshAll();\n        });\n\n        byId(\"pageSize\").addEventListener(\"change\",function(event){\n            state.pageSize = Number(event.target.value) || 25;\n            state.page = 1;\n            renderTable();\n        });\n\n        Array.prototype.slice.call(document.querySelectorAll(\".column-filter,.side-column-filter\")).forEach(function(select){\n            select.addEventListener(\"change\",function(event){\n                var column = event.target.getAttribute(\"data-column\");\n                var value = event.target.value;\n                state.filters[column] = value;\n                syncFilterControls(column,value);\n                state.page = 1;\n                refreshAll();\n            });\n        });\n    }\n\n    function syncFilterControls(column,value){\n        Array.prototype.slice.call(document.querySelectorAll('[data-column=\"' + cssEscape(column) + '\"]')).forEach(function(select){\n            select.value = value;\n        });\n    }\n\n    function resetFilters(){\n        state.search = \"\";\n        state.filters = {};\n        state.page = 1;\n        var search = byId(\"globalSearch\");\n        if(search) search.value = \"\";\n        Array.prototype.slice.call(document.querySelectorAll(\".column-filter,.side-column-filter\")).forEach(function(select){\n            select.value = \"\";\n        });\n        refreshAll();\n    }\n\n    function rowMatchesSearch(row){\n        if(!state.search) return true;\n        var query = String(state.search).toLowerCase();\n        return Object.keys(row || {}).some(function(key){\n            return String(row[key] === null || row[key] === undefined ? \"\" : row[key]).toLowerCase().indexOf(query) !== -1;\n        });\n    }\n\n    function rowMatchesFilters(row){\n        return Object.keys(state.filters).every(function(column){\n            var expected = state.filters[column];\n            if(!expected) return true;\n            return String(row && !isMissing(row[column]) ? row[column] : \"\") === expected;\n        });\n    }\n\n    function applyFilters(){\n        state.filteredRows = state.sourceRows.filter(function(row){\n            return rowMatchesSearch(row) && rowMatchesFilters(row);\n        });\n    }\n\n    function calculateDuplicateRows(rows){\n        var seen = new Set();\n        var duplicates = 0;\n        rows.forEach(function(row){\n            var key = JSON.stringify(row);\n            if(seen.has(key)) duplicates += 1;\n            else seen.add(key);\n        });\n        return duplicates;\n    }\n\n    function calculateQualityScore(rows){\n        var totalCells = Math.max(rows.length * Math.max(state.columns.length,1),1);\n        var missing = state.columns.reduce(function(total,column){\n            return total + missingCount(valuesFor(column.name,rows));\n        },0);\n        return Math.max(0,Math.min(100,(1 - missing / totalCells) * 100));\n    }\n\n    function countValue(value, fallback){\n        if(Array.isArray(value)) return value.length;\n        if(value && typeof value === \"object\") return Object.keys(value).length;\n        if(value === null || value === undefined || value === \"\") return fallback;\n        return value;\n    }\n\n    function renderOverview(){\n        var metadata = rawData.metadata || {};\n        var profiling = rawData.profiling || {};\n        var rowCount = countValue(readAny(profiling,[\"rows\",\"row_count\",\"rowCount\",\"totalRows\"],state.sourceRows.length),state.sourceRows.length);\n        var columnCount = countValue(readAny(profiling,[\"columns\",\"column_count\",\"columnCount\",\"totalColumns\"],state.columns.length),state.columns.length);\n        var duplicateRows = readAny(profiling,[\"duplicate_rows\",\"duplicateRows\",\"duplicates\"],calculateDuplicateRows(state.sourceRows));\n        var quality = readAny(profiling,[\"data_quality\",\"dataQuality\",\"quality_score\",\"qualityScore\"],calculateQualityScore(state.sourceRows));\n        var cards = [\n            [\"Dataset Type\",readAny(metadata,[\"dataset_type\",\"datasetType\",\"type\"],\"Dataset\"),\"Metadata classification\"],\n            [\"Business Domain\",readAny(metadata,[\"business_domain\",\"businessDomain\",\"domain\"],\"General\"),\"Business context\"],\n            [\"Description\",readAny(metadata,[\"description\",\"summary\"],\"No description supplied\"),\"Dataset purpose\"],\n            [\"Rows\",rowCount,\"Total input rows\"],\n            [\"Columns\",columnCount,\"Available fields\"],\n            [\"Data Quality\",typeof quality === \"number\" ? formatNumber(quality,1) + \"%\" : quality,\"Overall quality score\"],\n            [\"Duplicate Rows\",duplicateRows,\"Exact duplicate records\"],\n            [\"Filtered Rows\",state.filteredRows.length,\"Rows after search and filters\"]\n        ];\n        byId(\"overviewGrid\").innerHTML = cards.map(function(card){\n            return metricCard(card[0],card[1],card[2],String(card[0]).toLowerCase().indexOf(\"quality\") !== -1 && typeof quality === \"number\" ? quality : undefined);\n        }).join(\"\");\n    }\n\n    function getKpiCharts(){\n        return (Array.isArray(rawData.charts) ? rawData.charts : []).filter(function(chart){\n            return chart && String(chart.type || chart.chartType || \"\").toLowerCase() === \"kpi\";\n        });\n    }\n\n    function resolveKpiValue(chart){\n        if(chart.value !== undefined) return chart.value;\n        if(chart.metric_value !== undefined) return chart.metric_value;\n        if(chart.metricValue !== undefined) return chart.metricValue;\n        if(chart.data !== undefined && !Array.isArray(chart.data)) return chart.data;\n        var column = chart.column || chart.field || chart.valueField || chart.y || chart.measure;\n        var aggregation = String(chart.aggregation || chart.aggregate || \"sum\").toLowerCase();\n        if(column){\n            var values = valuesFor(column,state.filteredRows).map(toNumber).filter(function(value){ return value !== null; });\n            if(!values.length) return \"—\";\n            if(aggregation === \"count\") return values.length;\n            if(aggregation === \"avg\" || aggregation === \"average\" || aggregation === \"mean\") return values.reduce(function(a,b){ return a+b; },0) / values.length;\n            if(aggregation === \"min\") return Math.min.apply(null,values);\n            if(aggregation === \"max\") return Math.max.apply(null,values);\n            return values.reduce(function(a,b){ return a+b; },0);\n        }\n        return \"—\";\n    }\n\n    function renderKPIs(){\n        var container = byId(\"kpiGrid\");\n        var kpis = getKpiCharts();\n\n        if(!kpis.length){\n            container.innerHTML = [\n                {title:\"Filtered Rows\",value:state.filteredRows.length,note:\"Rows currently visible\"},\n                {title:\"Columns\",value:state.columns.length,note:\"Detected schema fields\"},\n                {title:\"Quality Score\",value:formatNumber(calculateQualityScore(state.filteredRows),1) + \"%\",note:\"Completeness after filtering\"},\n                {title:\"Charts\",value:(Array.isArray(rawData.charts) ? rawData.charts : []).filter(function(chart){ return String(chart.type || chart.chartType || \"\").toLowerCase() !== \"kpi\"; }).length,note:\"Interactive visuals\"}\n            ].map(function(kpi){\n                return '<article class=\"card card-pad kpi-card\"><div class=\"kpi-label\">' + escapeHtml(kpi.title) + '</div><div class=\"kpi-value\">' + escapeHtml(formatValue(kpi.value)) + '</div><div class=\"kpi-meta\"><span>' + escapeHtml(kpi.note) + '</span></div></article>';\n            }).join(\"\");\n            return;\n        }\n\n        container.innerHTML = kpis.map(function(chart){\n            var label = chart.title || chart.label || chart.name || chart.metric || \"KPI\";\n            var value = resolveKpiValue(chart);\n            var note = chart.description || chart.subtitle || chart.period || chart.aggregation || \"Filtered metric\";\n            var change = chart.change || chart.delta || chart.trend || \"\";\n            var changeClass = String(change).charAt(0) === \"-\" ? \"kpi-negative\" : \"kpi-positive\";\n            return '<article class=\"card card-pad kpi-card\"><div class=\"kpi-label\">' + escapeHtml(label) + '</div><div class=\"kpi-value\">' + escapeHtml(formatValue(value)) + '</div><div class=\"kpi-meta\"><span>' + escapeHtml(note) + '</span><strong class=\"' + changeClass + '\">' + escapeHtml(change) + '</strong></div></article>';\n        }).join(\"\");\n    }\n\n    function renderQuality(){\n        var totalCells = Math.max(state.filteredRows.length * Math.max(state.columns.length,1),1);\n        var missing = state.columns.reduce(function(total,column){\n            return total + missingCount(valuesFor(column.name,state.filteredRows));\n        },0);\n        var completeness = Math.max(0,Math.min(100,(1 - missing / totalCells) * 100));\n        var duplicateRows = calculateDuplicateRows(state.filteredRows);\n        var healthyColumns = state.columns.filter(function(column){\n            var values = valuesFor(column.name,state.filteredRows);\n            return !values.length || missingCount(values) / values.length <= .05;\n        }).length;\n        var cards = [\n            [\"Completeness\",formatNumber(completeness,1) + \"%\",\"Non-missing cell percentage\",completeness],\n            [\"Missing Values\",missing,\"Blank, null, and undefined cells\"],\n            [\"Duplicate Rows\",duplicateRows,\"Exact duplicate rows in current view\"],\n            [\"Healthy Columns\",healthyColumns + \" / \" + state.columns.length,\"Columns at least 95% complete\"]\n        ];\n        byId(\"qualityGrid\").innerHTML = cards.map(function(card){\n            return metricCard(card[0],card[1],card[2],card[3]);\n        }).join(\"\");\n    }\n\n    function statFromRaw(raw, keys){\n        return readAny(raw || {},keys,undefined);\n    }\n\n    function renderProfiling(){\n        var container = byId(\"profileGrid\");\n        if(!state.columns.length){\n            container.innerHTML = '<div class=\"empty\">No columns were detected.</div>';\n            return;\n        }\n\n        container.innerHTML = state.columns.map(function(column){\n            var values = valuesFor(column.name,state.filteredRows);\n            var raw = column.raw || {};\n            var type = column.type === \"numeric\" ? \"numeric\" : \"categorical\";\n            var statsHtml = \"\";\n\n            if(type === \"numeric\"){\n                var stats = numericStats(values);\n                var items = [\n                    [\"Minimum\",statFromRaw(raw,[\"minimum\",\"min\"]) !== undefined ? statFromRaw(raw,[\"minimum\",\"min\"]) : stats.min],\n                    [\"Maximum\",statFromRaw(raw,[\"maximum\",\"max\"]) !== undefined ? statFromRaw(raw,[\"maximum\",\"max\"]) : stats.max],\n                    [\"Average\",statFromRaw(raw,[\"average\",\"avg\",\"mean\"]) !== undefined ? statFromRaw(raw,[\"average\",\"avg\",\"mean\"]) : stats.average],\n                    [\"Median\",statFromRaw(raw,[\"median\"]) !== undefined ? statFromRaw(raw,[\"median\"]) : stats.median],\n                    [\"Standard Deviation\",statFromRaw(raw,[\"standard_deviation\",\"standardDeviation\",\"stdDev\",\"std\"]) !== undefined ? statFromRaw(raw,[\"standard_deviation\",\"standardDeviation\",\"stdDev\",\"std\"]) : stats.stdDev],\n                    [\"Q1\",statFromRaw(raw,[\"q1\",\"Q1\"]) !== undefined ? statFromRaw(raw,[\"q1\",\"Q1\"]) : stats.q1],\n                    [\"Q3\",statFromRaw(raw,[\"q3\",\"Q3\"]) !== undefined ? statFromRaw(raw,[\"q3\",\"Q3\"]) : stats.q3],\n                    [\"IQR\",statFromRaw(raw,[\"iqr\",\"IQR\"]) !== undefined ? statFromRaw(raw,[\"iqr\",\"IQR\"]) : stats.iqr],\n                    [\"Missing Values\",statFromRaw(raw,[\"missing_values\",\"missingValues\",\"missing\"]) !== undefined ? statFromRaw(raw,[\"missing_values\",\"missingValues\",\"missing\"]) : missingCount(values)]\n                ];\n                statsHtml = items.map(function(item){\n                    return '<div class=\"stat\"><div class=\"stat-label\">' + escapeHtml(item[0]) + '</div><div class=\"stat-value\">' + escapeHtml(formatNumber(item[1])) + '</div></div>';\n                }).join(\"\");\n            } else {\n                var categoricalItems = [\n                    [\"Unique Values\",statFromRaw(raw,[\"unique_values\",\"uniqueValues\",\"unique\"]) !== undefined ? statFromRaw(raw,[\"unique_values\",\"uniqueValues\",\"unique\"]) : uniqueCount(values)],\n                    [\"Missing Values\",statFromRaw(raw,[\"missing_values\",\"missingValues\",\"missing\"]) !== undefined ? statFromRaw(raw,[\"missing_values\",\"missingValues\",\"missing\"]) : missingCount(values)]\n                ];\n                statsHtml = categoricalItems.map(function(item){\n                    return '<div class=\"stat\"><div class=\"stat-label\">' + escapeHtml(item[0]) + '</div><div class=\"stat-value\">' + escapeHtml(formatValue(item[1])) + '</div></div>';\n                }).join(\"\");\n            }\n\n            return '<article class=\"card card-pad profile-card\"><div class=\"profile-top\"><div><div class=\"profile-name\">' + escapeHtml(column.label) + '</div><div class=\"profile-sub\">' + escapeHtml(column.name) + '</div></div><span class=\"badge\">' + escapeHtml(type) + '</span></div><div class=\"profile-stats\">' + statsHtml + '</div></article>';\n        }).join(\"\");\n    }\n\n    function chartType(chart){\n        return String(chart.type || chart.chartType || \"bar\").toLowerCase();\n    }\n\n    function isSupportedChart(chart){\n        return [\"bar\",\"line\",\"pie\",\"scatter\",\"histogram\"].indexOf(chartType(chart)) !== -1;\n    }\n\n    function nonKpiCharts(){\n        return (Array.isArray(rawData.charts) ? rawData.charts : []).filter(function(chart){\n            return chart && chartType(chart) !== \"kpi\" && isSupportedChart(chart);\n        });\n    }\n\n    function fieldName(value){\n        if(typeof value === \"string\") return value;\n        if(!value || typeof value !== \"object\") return \"\";\n        return value.field || value.name || value.column || value.key || value.id || value.label || \"\";\n    }\n\n    function getField(chart, keys){\n        for(var i=0;i<keys.length;i++){\n            if(chart[keys[i]]) return fieldName(chart[keys[i]]);\n        }\n        return \"\";\n    }\n\n    function normalizeKey(value){\n        return String(value || \"\")\n            .toLowerCase()\n            .replace(/[^a-z0-9]/g,\"\");\n    }\n\n    function resolveColumnName(name){\n        if(!name) return \"\";\n\n        var wanted = normalizeKey(name);\n\n        var exact = state.columns.find(function(column){\n            return column.name === name || column.label === name;\n        });\n        if(exact) return exact.name;\n\n        var normalized = state.columns.find(function(column){\n            return normalizeKey(column.name) === wanted || normalizeKey(column.label) === wanted;\n        });\n        if(normalized) return normalized.name;\n\n        var contains = state.columns.find(function(column){\n            var columnKey = normalizeKey(column.name);\n            var labelKey = normalizeKey(column.label);\n            return columnKey.indexOf(wanted) !== -1 ||\n                wanted.indexOf(columnKey) !== -1 ||\n                labelKey.indexOf(wanted) !== -1 ||\n                wanted.indexOf(labelKey) !== -1;\n        });\n\n        return contains ? contains.name : \"\";\n    }\n\n    function firstNumericColumn(exclude){\n        var column = state.columns.find(function(item){\n            return item.name !== exclude && item.type === \"numeric\";\n        });\n        return column ? column.name : \"\";\n    }\n\n    function firstCategoricalColumn(){\n        var column = state.columns.find(function(item){\n            return item.type !== \"numeric\";\n        });\n        return column ? column.name : \"\";\n    }\n\n    function aggregateRows(chart){\n        var type = chartType(chart);\n        var xField = resolveColumnName(getField(chart,[\"x\",\"xField\",\"x_axis\",\"xAxis\",\"labelField\",\"category\",\"categoryField\",\"dimension\"]));\n        var yField = resolveColumnName(getField(chart,[\"y\",\"yField\",\"y_axis\",\"yAxis\",\"valueField\",\"value\",\"measure\"]));\n        var aggregation = String(chart.aggregation || chart.aggregate || \"sum\").toLowerCase();\n\n        if(type === \"pie\"){\n            var categoryField = xField || firstCategoricalColumn();\n            if(!categoryField) return null;\n\n            var counts = new Map();\n            state.filteredRows.forEach(function(row){\n                var key = text(row ? row[categoryField] : \"\");\n                counts.set(key,(counts.get(key) || 0) + 1);\n            });\n\n            var pieLabels = Array.from(counts.keys());\n            return {\n                labels:pieLabels,\n                values:pieLabels.map(function(label){ return counts.get(label); })\n            };\n        }\n\n        if(type === \"scatter\"){\n            var sx = xField || firstNumericColumn(\"\");\n            var sy = yField || firstNumericColumn(sx);\n            if(!sx || !sy) return null;\n\n            return {\n                labels:[],\n                values:state.filteredRows.map(function(row){\n                    return [\n                        toNumber(row ? row[sx] : null),\n                        toNumber(row ? row[sy] : null)\n                    ];\n                }).filter(function(pair){\n                    return pair[0] !== null && pair[1] !== null;\n                })\n            };\n        }\n\n        if(type === \"histogram\"){\n            var hField = yField || xField || firstNumericColumn(\"\");\n            if(!hField) return null;\n\n            return {labels:[],values:valuesFor(hField,state.filteredRows).map(toNumber).filter(function(value){ return value !== null; })};\n        }\n\n        if(xField && yField){\n            var map = new Map();\n            state.filteredRows.forEach(function(row){\n                var key = text(row ? row[xField] : \"\");\n                var numeric = toNumber(row ? row[yField] : null);\n                var current = map.get(key) || {sum:0,count:0,min:null,max:null};\n                if(numeric !== null){\n                    current.sum += numeric;\n                    current.count += 1;\n                    current.min = current.min === null ? numeric : Math.min(current.min,numeric);\n                    current.max = current.max === null ? numeric : Math.max(current.max,numeric);\n                }\n                map.set(key,current);\n            });\n            var labels = Array.from(map.keys());\n            var values = labels.map(function(label){\n                var item = map.get(label);\n                if(aggregation === \"count\") return item.count;\n                if(aggregation === \"avg\" || aggregation === \"average\" || aggregation === \"mean\") return item.count ? item.sum / item.count : 0;\n                if(aggregation === \"min\") return item.min;\n                if(aggregation === \"max\") return item.max;\n                return item.sum;\n            });\n            return {labels:labels,values:values};\n        }\n\n        if(xField){\n            var countMap = new Map();\n            state.filteredRows.forEach(function(row){\n                var key = text(row ? row[xField] : \"\");\n                countMap.set(key,(countMap.get(key) || 0) + 1);\n            });\n\n            var countLabels = Array.from(countMap.keys());\n            return {\n                labels:countLabels,\n                values:countLabels.map(function(label){ return countMap.get(label); })\n            };\n        }\n\n        return null;\n    }\n\n    function extractChartData(chart){\n        var aggregated = aggregateRows(chart);\n        if(aggregated && aggregated.values && aggregated.values.length) return aggregated;\n\n        var labels = chart.labels || chart.categories || chart.x_values || chart.xValues || [];\n        var values = chart.values || chart.data || chart.series || chart.y_values || chart.yValues || [];\n\n        if(values && !Array.isArray(values) && typeof values === \"object\" && Array.isArray(values.data)) values = values.data;\n        if(!Array.isArray(values) && fieldName(values)) values = valuesFor(fieldName(values),state.filteredRows);\n        if(!Array.isArray(labels) && fieldName(labels)) labels = valuesFor(fieldName(labels),state.filteredRows);\n        if(labels && !Array.isArray(labels)) labels = [];\n\n        if(Array.isArray(values) && values.length && typeof values[0] === \"object\" && !Array.isArray(values[0])){\n            if(!labels.length){\n                labels = values.map(function(item){\n                    return item.name || item.label || item.category || item.x || \"\";\n                });\n            }\n            values = values.map(function(item){\n                if(chartType(chart) === \"scatter\") return [toNumber(item.x) || 0,toNumber(item.y) || 0];\n                return item.value !== undefined ? item.value : item.y !== undefined ? item.y : item.count !== undefined ? item.count : item.total;\n            });\n        }\n\n        if(!Array.isArray(values)) values = [];\n        if(!Array.isArray(labels)) labels = [];\n\n        return {labels:labels,values:values};\n    }\n\n    function histogramBins(values, binCount){\n        var nums = values.map(toNumber).filter(function(value){ return value !== null; }).sort(function(a,b){ return a-b; });\n        if(!nums.length) return {labels:[],values:[]};\n        var min = nums[0];\n        var max = nums[nums.length - 1];\n        var bins = Math.max(3,binCount || Math.ceil(Math.sqrt(nums.length)));\n        if(min === max) return {labels:[String(min)],values:[nums.length]};\n        var width = (max - min) / bins;\n        var counts = Array.from({length:bins},function(){ return 0; });\n        nums.forEach(function(value){\n            var index = Math.min(Math.floor((value - min) / width),bins - 1);\n            counts[index] += 1;\n        });\n        return {\n            labels:counts.map(function(_,index){\n                var start = min + index * width;\n                var end = start + width;\n                return formatNumber(start) + \" - \" + formatNumber(end);\n            }),\n            values:counts\n        };\n    }\n\n    function createChartOption(chart){\n        var type = chartType(chart);\n        var extracted = extractChartData(chart);\n        var labels = extracted.labels.slice();\n        var values = extracted.values.slice();\n        var title = chart.title || chart.name || chart.label || titleCase(type) + \" Chart\";\n        var palette = [\"#2563eb\",\"#00a3a3\",\"#742774\",\"#f2c811\",\"#16a34a\",\"#dc2626\",\"#0891b2\",\"#db2777\"];\n\n        var option = {\n            color:palette,\n            animation:true,\n            animationDuration:900,\n            textStyle:{fontFamily:\"Inter, Segoe UI, Arial, sans-serif\"},\n            tooltip:{trigger:type === \"pie\" ? \"item\" : \"axis\",axisPointer:{type:\"shadow\"}},\n            legend:{top:6,type:\"scroll\"},\n            toolbox:{\n                right:12,\n                feature:{\n                    dataZoom:{yAxisIndex:\"none\"},\n                    restore:{},\n                    saveAsImage:{title:\"Save As Image\",pixelRatio:2}\n                }\n            },\n            grid:{top:58,right:24,bottom:58,left:54,containLabel:true}\n        };\n\n        if(type === \"pie\"){\n            option.tooltip = {trigger:\"item\"};\n            option.series = [{\n                name:title,\n                type:\"pie\",\n                radius:[\"42%\",\"72%\"],\n                center:[\"50%\",\"55%\"],\n                avoidLabelOverlap:true,\n                itemStyle:{borderRadius:6,borderColor:\"#fff\",borderWidth:2},\n                data:values.map(function(value,index){\n                    return {name:labels[index] || \"Item \" + (index + 1),value:value};\n                })\n            }];\n            return option;\n        }\n\n        if(type === \"scatter\"){\n            option.xAxis = {type:\"value\",splitLine:{lineStyle:{type:\"dashed\"}}};\n            option.yAxis = {type:\"value\",splitLine:{lineStyle:{type:\"dashed\"}}};\n            option.dataZoom = [{type:\"inside\"},{type:\"slider\",height:22,bottom:16}];\n            option.series = [{\n                name:title,\n                type:\"scatter\",\n                symbolSize:10,\n                data:values.map(function(value,index){\n                    if(Array.isArray(value)) return value;\n                    return [index + 1,toNumber(value) || 0];\n                })\n            }];\n            return option;\n        }\n\n        if(type === \"histogram\"){\n            var histogram = histogramBins(values,chart.bins || chart.binCount);\n            labels = histogram.labels;\n            values = histogram.values;\n            type = \"bar\";\n        }\n\n        option.xAxis = {type:\"category\",data:labels.length ? labels : values.map(function(_,index){ return \"Item \" + (index + 1); }),axisLabel:{hideOverlap:true}};\n        option.yAxis = {type:\"value\",splitLine:{lineStyle:{type:\"dashed\"}}};\n        option.dataZoom = [{type:\"inside\"},{type:\"slider\",height:22,bottom:16}];\n        option.series = [{\n            name:title,\n            type:type === \"line\" ? \"line\" : \"bar\",\n            smooth:type === \"line\",\n            areaStyle:type === \"line\" && chart.area ? {} : undefined,\n            barMaxWidth:52,\n            data:values\n        }];\n        return option;\n    }\n\n    function renderCharts(){\n        var container = byId(\"chartsGrid\");\n        var charts = nonKpiCharts();\n\n        state.chartInstances.forEach(function(instance){\n            if(instance && instance.dispose) instance.dispose();\n        });\n        state.chartInstances = [];\n\n        if(!charts.length){\n            container.innerHTML = '<div class=\"empty\">No non-KPI chart definitions were supplied.</div>';\n            return;\n        }\n\n        container.innerHTML = charts.map(function(chart,index){\n            var title = chart.title || chart.name || chart.label || \"Chart \" + (index + 1);\n            var subtitle = chart.description || chart.subtitle || titleCase(chartType(chart));\n            return '<article class=\"card chart-card\"><div class=\"chart-header\"><div><h3 class=\"chart-title\">' + escapeHtml(title) + '</h3><div class=\"chart-subtitle\">' + escapeHtml(subtitle) + '</div></div><div class=\"chart-actions\"><button class=\"icon-btn\" type=\"button\" data-download-chart=\"' + index + '\" aria-label=\"Download chart\"><svg class=\"nav-icon\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\"><path d=\"M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4\"/><path d=\"M7 10l5 5 5-5\"/><path d=\"M12 15V3\"/></svg></button></div></div><div class=\"chart\" id=\"chart_' + index + '\"></div></article>';\n        }).join(\"\");\n\n        charts.forEach(function(chart,index){\n            var el = byId(\"chart_\" + index);\n            if(!el || !window.echarts) return;\n            var instance = echarts.init(el,null,{renderer:\"canvas\"});\n            instance.setOption(createChartOption(chart),true);\n            state.chartInstances[index] = instance;\n        });\n\n        Array.prototype.slice.call(document.querySelectorAll(\"[data-download-chart]\")).forEach(function(button){\n            button.addEventListener(\"click\",function(){\n                var index = Number(button.getAttribute(\"data-download-chart\"));\n                var instance = state.chartInstances[index];\n                if(!instance) return;\n                var url = instance.getDataURL({type:\"png\",pixelRatio:2,backgroundColor:\"#ffffff\"});\n                var link = document.createElement(\"a\");\n                link.href = url;\n                link.download = \"chart-\" + (index + 1) + \".png\";\n                link.click();\n            });\n        });\n    }\n\n    function compareRows(a,b){\n        var av = a && state.sortColumn ? a[state.sortColumn] : \"\";\n        var bv = b && state.sortColumn ? b[state.sortColumn] : \"\";\n        var an = toNumber(av);\n        var bn = toNumber(bv);\n        if(an !== null && bn !== null) return an - bn;\n        return String(av === null || av === undefined ? \"\" : av).localeCompare(String(bv === null || bv === undefined ? \"\" : bv),undefined,{numeric:true,sensitivity:\"base\"});\n    }\n\n    function renderTable(){\n        var card = byId(\"tableCard\");\n        if(!state.columns.length){\n            card.innerHTML = '<div class=\"empty\">No table columns were detected.</div>';\n            return;\n        }\n\n        var rows = state.filteredRows.slice();\n        if(state.sortColumn){\n            rows.sort(compareRows);\n            if(state.sortDirection === \"desc\") rows.reverse();\n        }\n\n        var totalPages = Math.max(1,Math.ceil(rows.length / state.pageSize));\n        state.page = Math.min(Math.max(1,state.page),totalPages);\n        var start = (state.page - 1) * state.pageSize;\n        var pageRows = rows.slice(start,start + state.pageSize);\n\n        var head = state.columns.map(function(column){\n            var marker = state.sortColumn === column.name ? (state.sortDirection === \"asc\" ? \" ▲\" : \" ▼\") : \"\";\n            return '<th class=\"sortable\" data-sort=\"' + escapeHtml(column.name) + '\">' + escapeHtml(column.label + marker) + '</th>';\n        }).join(\"\");\n\n        var body = pageRows.length ? pageRows.map(function(row){\n            return '<tr>' + state.columns.map(function(column){\n                var value = formatValue(row ? row[column.name] : \"\");\n                return '<td title=\"' + escapeHtml(value) + '\">' + escapeHtml(value) + '</td>';\n            }).join(\"\") + '</tr>';\n        }).join(\"\") : '<tr><td colspan=\"' + state.columns.length + '\">No rows match the current search and filters.</td></tr>';\n\n        card.innerHTML = '<div class=\"table-shell\"><table><thead><tr>' + head + '</tr></thead><tbody>' + body + '</tbody></table></div><div class=\"table-footer\"><div>Showing ' + escapeHtml(rows.length ? start + 1 : 0) + '–' + escapeHtml(Math.min(start + state.pageSize,rows.length)) + ' of ' + escapeHtml(rows.length) + ' rows</div><div class=\"pagination\"><button class=\"btn\" id=\"prevPage\" type=\"button\">Previous</button><span>Page ' + escapeHtml(state.page) + ' of ' + escapeHtml(totalPages) + '</span><button class=\"btn\" id=\"nextPage\" type=\"button\">Next</button></div></div>';\n\n        Array.prototype.slice.call(card.querySelectorAll(\"[data-sort]\")).forEach(function(th){\n            th.addEventListener(\"click\",function(){\n                var column = th.getAttribute(\"data-sort\");\n                if(state.sortColumn === column){\n                    state.sortDirection = state.sortDirection === \"asc\" ? \"desc\" : \"asc\";\n                } else {\n                    state.sortColumn = column;\n                    state.sortDirection = \"asc\";\n                }\n                renderTable();\n            });\n        });\n\n        byId(\"prevPage\").addEventListener(\"click\",function(){\n            state.page = Math.max(1,state.page - 1);\n            renderTable();\n        });\n\n        byId(\"nextPage\").addEventListener(\"click\",function(){\n            state.page = Math.min(totalPages,state.page + 1);\n            renderTable();\n        });\n    }\n\n    function createFooter(){\n        var metadata = rawData.metadata || {};\n        var source = readAny(metadata,[\"source\",\"file\",\"dataset\",\"dataset_name\"],\"dynamic n8n input\");\n        byId(\"footer\").textContent = \"Generated from \" + source + \" • \" + new Date().toLocaleString();\n    }\n\n    function refreshAll(){\n        applyFilters();\n        renderOverview();\n        renderKPIs();\n        renderQuality();\n        renderProfiling();\n        renderCharts();\n        renderTable();\n    }\n\n    function bindActions(){\n        byId(\"resetFilters\").addEventListener(\"click\",resetFilters);\n        byId(\"printDashboard\").addEventListener(\"click\",function(){ window.print(); });\n\n        byId(\"exportDashboard\").addEventListener(\"click\",function(){\n            var instance = state.chartInstances.find(function(chart){ return !!chart; });\n            if(!instance){\n                window.print();\n                return;\n            }\n            var url = instance.getDataURL({type:\"png\",pixelRatio:2,backgroundColor:\"#ffffff\"});\n            var link = document.createElement(\"a\");\n            link.href = url;\n            link.download = \"dashboard-export.png\";\n            link.click();\n        });\n\n        byId(\"menuToggle\").addEventListener(\"click\",function(){\n            byId(\"sidebar\").classList.add(\"open\");\n            byId(\"drawerBackdrop\").classList.add(\"show\");\n        });\n\n        byId(\"drawerBackdrop\").addEventListener(\"click\",function(){\n            byId(\"sidebar\").classList.remove(\"open\");\n            byId(\"drawerBackdrop\").classList.remove(\"show\");\n        });\n\n        Array.prototype.slice.call(document.querySelectorAll(\".nav-link[href]\")).forEach(function(link){\n            link.addEventListener(\"click\",function(){\n                byId(\"sidebar\").classList.remove(\"open\");\n                byId(\"drawerBackdrop\").classList.remove(\"show\");\n                Array.prototype.slice.call(document.querySelectorAll(\".nav-link\")).forEach(function(item){ item.classList.remove(\"active\"); });\n                link.classList.add(\"active\");\n            });\n        });\n\n        window.addEventListener(\"resize\",function(){\n            state.chartInstances.forEach(function(instance){\n                if(instance) instance.resize();\n            });\n        });\n    }\n\n    function renderDashboard(){\n        inferColumns();\n        state.filteredRows = state.sourceRows.slice();\n        updateHeader();\n        createFilters();\n        refreshAll();\n        createFooter();\n        bindActions();\n    }\n\n    if(document.readyState === \"loading\"){\n        document.addEventListener(\"DOMContentLoaded\",renderDashboard);\n    } else {\n        renderDashboard();\n    }\n})();\n</script>`;\n}\n\nfunction buildDashboard() {\n    return `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1.0\">\n<title>Business Intelligence Dashboard</title>\n<script src=\"https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js\"></script>\n<style>\n${createCSS()}\n</style>\n</head>\n<body>\n${createDashboardShell()}\n${createRuntimeScript()}\n</body>\n</html>`;\n}\n\nconst html = buildDashboard();\n\nreturn [{\n    json:{\n        html\n    }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5216,
        272
      ],
      "id": "ec058efd-3121-467c-a8ac-453d8abdce6f",
      "name": "Dashboard Builder"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=html",
        "options": {
          "fileName": "index.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        6016,
        240
      ],
      "id": "9781b1c7-2497-45e7-99a8-16b20dea5384",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\n\nreturn [{\n  json: {\n    metadata: data.metadata,\n\n    columns: data.metadata.columns,\n\n    totalRows: data.data.length,\n\n    totalColumns: data.metadata.columns.length,\n\n    sampleRows: data.data.slice(0, 5)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        48
      ],
      "id": "dc74dc09-7e65-4314-aad8-34c7d9236585",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet profiling = {};\nlet chartUrls = [];\nconst sampleRows = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  if (json.profiling) {\n    profiling = json.profiling;\n  }\n\n  if (json.chartUrls) {\n    chartUrls = Array.isArray(json.chartUrls) ? json.chartUrls : [json.chartUrls];\n  }\n\n  if (json.charts) {\n    chartUrls = Array.isArray(json.charts) ? json.charts : [json.charts];\n  }\n\n  if (json.quickChartUrls) {\n    chartUrls = Array.isArray(json.quickChartUrls) ? json.quickChartUrls : [json.quickChartUrls];\n  }\n\n  const isControlItem =\n    json.profiling ||\n    json.chartUrls ||\n    json.charts ||\n    json.quickChartUrls;\n\n  if (!isControlItem && sampleRows.length < 5) {\n    sampleRows.push(json);\n  }\n}\n\nreturn [{\n  json: {\n    profiling,\n    chartUrls,\n    sampleRows: sampleRows.slice(0, 5)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4496,
        -208
      ],
      "id": "b45a43aa-b380-4e30-8f1b-5ad9082d0b2b",
      "name": "Prepare AI Input"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code (columns + sample)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code (metadata + data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code (Parse JSON)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code (columns + sample)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Parse JSON)": {
      "main": [
        [
          {
            "node": "Code (metadata + data)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (metadata + data)": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Analysis Planner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Planner": {
      "main": [
        [
          {
            "node": "Code (Parse JSON)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code (Parse JSON)1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "KPI",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BAR Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PIE Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SCATTER Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TABLE Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HISTOGRAM Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PIE Engine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "KPI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BAR Engine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "LINE Engine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "SCATTER Engine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "TABLE Engine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "HISTOGRAM Engine": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Data Profiling",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Report": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate QuickChart URLs": {
      "main": [
        [
          {
            "node": "Attach Chart URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Chart URL": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          },
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Generate QuickChart URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Profiling": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Prepare AI Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "merge": {
      "main": [
        [
          {
            "node": "Dashboard Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dashboard Builder": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        []
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Analysis Planner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Input": {
      "main": [
        [
          {
            "node": "AI Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d9ad3216-f293-4fa6-86e0-0441e46c14b7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a5f255e4e9f5f96f09040c9cfaa7020726cac36c103c34cb1bb52cf615fc09ce"
  },
  "nodeGroups": [],
  "id": "klPlATIQprpiNMaP",
  "tags": []
}